* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Fira Sans Condensed", sans-serif;
  text-align: center;
  background: rgb(138, 225, 236);
  font-size: 18px;
}

.header {
  font-family: "Overpass", sans-serif;
  font-size: 50px;
  padding: 0px;
  text-decoration: underline;
  background: rgb(111, 197, 255);
  position: fixed;
  width: 100%;
}

.homePage_user {
  font-size: 20px;
  padding-top: 100px;
}

.homePage_msg {
  padding-bottom: 20px;
}

.homePage_links {
  padding-bottom: 50px;
  font-size: 20px;
}

.articleCards {
  padding: 30px;
  border: 5px solid grey;
  border-radius: 30px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: rgb(92, 182, 243);
}

.articleCards_title {
  font-size: 25px;
  background-color: rgb(92, 182, 243);
}

.articleCards_author {
  font-size: 18px;
  padding-top: 10px;
  background-color: rgb(92, 182, 243);
}

.articleCards_body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgb(92, 182, 243);
}
.articleCards_commentAndVoteCount {
  background-color: rgb(92, 182, 243);
}

.articleCards_link {
  background-color: rgb(92, 182, 243);
}

.articlesPage_header {
  font-family: "Overpass", sans-serif;
  font-size: 45px;
  padding-top: 100px;
  padding-bottom: 25px;
}

.articlesPage_links {
  font-size: 20px;
}

.articlesPage_filterAndOrderBoxes {
  padding-bottom: 20px;
}

.article_links {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 20px;
}

.article_title {
  font-size: 30px;
  padding-bottom: 10px;
}

.article_dateTime {
  font-size: 22px;
  padding-bottom: 10px;
}

.article_body {
  margin-left: 80px;
  margin-right: 80px;
}

.article_author {
  padding: 10px;
}

.article_voteButtons {
  padding-bottom: 50px;
}

.articleComments_header {
  font-size: 30px;
  padding-bottom: 25px;
}

.articleComments_body {
  margin-left: 150px;
  margin-right: 150px;
}

.articleComments_author {
  padding-bottom: 0px;
}

.articleComments_numOfComments {
  padding-bottom: 40px;
  padding-top: 15px;
  font-size: 22px;
}

.postComment_postCommentBox {
  font-size: 25px;
}

.articleComments {
  margin-bottom: 20px;
  border-top: 1px solid grey;
}

.articlesComments_voteButtons {
  padding-bottom: 10px;
}

.articleComments_deleteButton {
  padding-bottom: 10px;
}

.postArticle_header {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 100px;
}

.postArticle_links {
  padding-bottom: 10px;
  font-size: 20px;
}

.postArticle_form {
  text-align: left;
  margin-left: 40px;
}

.postArticle_titleBox {
  width: 1300px;
}

.postArticle_bodyBox {
  width: 1300px;
}

.postArticle_submitButton {
  text-transform: uppercase;
  padding: 5px;
}

.errorPage {
  padding-top: 100px;
}
